#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#modal-header>h3{
    margin-top: 0;
}

#modal-body {
    font-size: 11pt;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

#modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16pt;
}

#dietary {
    color:green;
  }

img {
    width: 20em;
    border-radius: 5px;
}